div[data-part-fold] {
	display:block; width:100%; /*height:300px;*/
	background:rgb(85,85,85); color:black; transition-duration:.5s; word-wrap:break-word; overflow:hidden; text-align:left;
}
.part-fold-active { /*background:rgba(100,100,20,.3);*/ border-color:skyblue; }
.part-fold-context:before{content:""; display:block; height:50px; background: linear-gradient(rgba(144,185,204,0.14), rgb(85, 85, 85)); }
.part-fold-context:after{content:""; display:block; height:50px; background: linear-gradient(rgb(85, 85, 85), rgba(144, 185, 204, 0.14)); }
/*div[data-part-fold]-before{display:block; width:100%; height:50px; background: linear-gradient(rgba(144,185,204,0.14), rgb(85, 85, 85)); }*/
/*div[data-part-fold]-after{display:block; width:100%; height:50px; background: linear-gradient(rgba(85, 85, 85), rgba(144,185,204,0.14)); }*/
/*.content-none{height:0px; position:absolute; left:9999;top:9999;}*/
/*.content-inner {background:#555555;}*/
div[data-part-fold-tool] { position:absolute; right:0px; }
div[data-part-fold-tool] button { color:#ffaa00; border:0px solid; background:rgba(0,0,0,0); font-size:20pt; }
div[data-part-fold-tool] button:hover { color:white; cursor:pointer; }
div[data-part-fold] .title { display:block; background:rgba(0,0,0,0); }
div[data-part-fold] h1,
div[data-part-fold] h2,
div[data-part-fold] h3,
div[data-part-fold] h4 {color:white;}

